@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8FF;
}

.app-container {
  height: auto;
  width: 100vw;

  .isVisable {
    display: block;
    visibility: visible;
  }
}

.input-wrapper {
  position: relative;
  margin: 0 auto;
  width: 55%;
  padding: 2rem 0;
  color: #222222;

  input[type=text] {
    margin: 0 auto;
    display: block;
    padding-left: 1%;
    height: 45px;
    width: 98%;
    font-size: 18pt;
    font-weight: lighter;
  }

  & > img {
    display: none;
    position: absolute;
    margin: auto;
    padding-top: 4rem;
    left: 0;
    right: 0;
    visibility: hidden;
  }

  & > h3 {
    margin-top: 4rem;
  }
}

.patient-info-card {
  margin: 4rem auto 0 auto;
  width: 100%;
  height: auto;

  & > div {
    padding: 1.5rem 2rem;

    h2 {
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }

    &:nth-of-type(odd) {
      background: #EEEEEF;
    }
  }

  button {
    font-size: 12pt;
  }

  h3 {
    padding-bottom: 1rem;
    font-size: 18pt;
    border-bottom: 1px solid #222222;
  }

  ul {
    display: none;
    visibility: hidden;
    padding: 3rem 4rem;
    position: fixed;
    width: 60%;
    min-height: 400px;
    max-height: 620px;
    top: 50%;
    left: 50%;
    font-size: 14pt;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #222222;
    overflow: scroll;
    transform: translate(-50%, -50%);

    & > li {
      padding: 0.5rem 0.3rem;
      font-size: 12pt;
      & > a {
        color: #222222;
        font-weight: lighter;
      }

      & > span { float: right; }

      &:nth-of-type(odd) {
        background-color: #EEEEEF;
      }
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    font-size: 14pt;
  }
}
